.wrapper {
  display: flex;
}
.block .usa {
  background-color: aqua;
  height: 100px;
  width: 100px;
  margin: 10px;
}
.block .ukr {
  background-color: red;
  height: 100px;
  width: 100px;
  margin: 10px;
}
